<!-- app/src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
    <section class="panel">
        <h2>Login</h2>
        <div th:if="${param.registered}" class="msg">Registered! Please sign in.</div>
        <div th:if="${param.error}" class="msg error">Invalid credentials.</div>
        <div th:if="${param.lock}" class="msg error">Too many failed attempts. Please try again in 10 minutes.</div>

        <form method="post" action="/login">
            <input name="userId" placeholder="userId" required/>
            <input name="password" type="password" placeholder="password" required/>
            <button type="submit">Login</button>
        </form>

        <p style="margin-top:12px">
            <a th:href="@{/register}">Create an account</a>
        </p>
    </section>
</th:block>
</body>
</html>
