server:
  tomcat:
    use-relative-redirects: true
  port: ${SERVER_PORT:8080}
  forward-headers-strategy: framework

spring:
  datasource:
    url: jdbc:h2:mem:ctf;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 3MB
      max-request-size: 3MB
  thymeleaf:
    cache: false
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: 6379

spring.h2.console.enabled: false
spring.h2.console.path: /h2-console

app:
  uploads: ./webapps/ROOT/uploads
  resourceBaseUrl: ${RESOURCE_BASE_URL:http://resource:3000}