services:
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "8001:8001"
    depends_on:
      - market-app
      - resource
    volumes:
      - ./deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  market-app:
    build: ./deploy/app
    container_name: market-app
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - redis

  resource:
    build: ./deploy/resource
    container_name: resource
    environment:
      - MONGO_URI=mongodb://mongo:27017/fruitdb
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4
    container_name: mongo

  redis:
    image: redis:7-alpine
    ports: 
      - "6379:6379"